.git
.github
.gitignore
.gitattributes
*.md
*.exe
argocd/
helm/
Images/
infrastructure/
k8s-manifests/
monitoring/
node_modules
terraform.tfstate*
.terraform.lock.hcl
.terraform/
curl_response
Dockerfile
.dockerignore
hey.exe
kind-config.yaml
kind.exe
kubectl.exe

